In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Import Data Set

In [6]:
car_sales = pd.read_csv("car-sales-extended-missing-data.csv")
car_sales.head(10)

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0
5   Honda    Red        42652.0    4.0  23883.0
6  Toyota   Blue       163453.0    4.0   8473.0
7   Honda  White            NaN    4.0  20306.0
8     NaN  White       130538.0    4.0   9374.0
9   Honda   Blue        51029.0    4.0  26683.0

In [7]:
len(car_sales)

1000

In [8]:
## Check the Data types
car_sales.dtypes

Make              object
Colour            object
Odometer (KM)    float64
Doors            float64
Price            float64
dtype: object

## Split data first before conversion

In [15]:
# Split into X/y
X = car_sales.drop("Price", axis=1)
y = car_sales["Price"]

# 3. Fit the data into training and test sets
from sklearn.model_selection import train_test_split

# Split into training and test
X_train, X_test, y_train, y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.2)
# View the data shapes
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((800, 4), (200, 4), (800,), (200,))

In [17]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [18]:
# Fit the model to data
model.fit(X_train, y_train)
model.score(X_test, y_test)

ValueError: could not convert string to float: 'Honda'

# Convert data to number

In [45]:
# ValueError: could not convert string to float: 'Honda'

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
cat_feat = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
trans = ColumnTransformer([("one_hot",
                           one_hot,
                           cat_feat)],
                         remainder="passthrough")
few = X.head()
trans_X = trans.fit_transform(few)
trans_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 8.47140e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 1.54365e+05],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 1.81577e+05]])

In [46]:
pd.DataFrame(trans_X)

     0    1    2    3    4    5    6    7    8         9
0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  181577.0

In [48]:
# Refit the model to the data after conversion
drop_y = y.head()
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(trans_X,
                                                    drop_y,
                                                   test_size=0.2)
model.fit(X_train, y_train)

RandomForestRegressor()

In [33]:
X.shape

(1000, 4)

In [34]:
y.shape

(1000,)

In [35]:
trans_X.shape

(10, 12)

In [49]:
model.score(X_test, y_test)

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:796: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

nan